html {
  font-size: 50px;

}

body {

  font-family: 'grid', Helvetica, Arial, sans-serif;
 overflow: hidden;
}

.button-class {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  
   justify-content: center;

}

.c1, .c2 {

  display: grid;
  grid-template-rows: repeat(15, 50px);
  grid-template-columns: repeat(7, 50px);
  
   color: blue;
}

.c1 .text{
    color:black;   
       font-family: Arial, Helvetica, sans-serif;  
  transition: all 0.3s ease;
    opacity: 0;
    font-size: 15px;
    margin-left: 1300%;

    width: 300px;
    text-decoration: wavy underline;
}

.c1:hover .text {
opacity: 1;
    font-family: Arial, Helvetica, sans-serif;  
  transition: all 0.3s ease;
}

.item-1 { grid-row: 1/2; grid-column: 1/2; }
.item-2 { grid-area: 1/2/1/2; }
.item-3 { grid-area: 1/4/2/5; 
transform: translateY(-70px)}
.item-17 { grid-area: 2/7/3/8;
transform: translateY(-70px); }
.item-32 { grid-area: 4/7/5/8;
transform: translateY(-70px); }
.item-47 { grid-area: 6/7/7/8;
transform: translateY(-70px); }
.item-61 { grid-area: 8/7/9/8;
transform: translateY(-70px); }
.item-74 { grid-area: 10/7/11/8;
transform: translateY(-70px); }
.item-88 { grid-area: 12/7/13/8;
transform: translateY(-70px); }
.item-21 { grid-area: 3/4/4/5;
transform: translateY(-70px); }
.item-34 { grid-area: 5/4/6/5;
transform: translateY(-70px); }
.item-48 { grid-area: 7/4/8/5;
transform: translateY(-70px); }
.item-62 { grid-area: 9/4/10/5;
transform: translateY(-70px); }
.item-76 { grid-area: 11/4/13/5;
transform: translateY(-70px); }



.toggle {
  width: 100%;
  height: 100%;
  outline: none;
  position: absolute;
  opacity: 0;
}
.container {
  font-size: 50px;
  transition: font-size 3s ease-in-out;
}

.container:hover {
  font-size: 200px;
}

.item:focus{
     font-size: 200px;

}