html {
  font-size: 50px;

}

body {
    

  font-family: 'grid', Helvetica, Arial, sans-serif;
  overflow: hidden;
 
}

.button-class {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c4, .c5 {
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(6, 50px);
  
   color: green;
}


.item-79 { grid-area: 1/1/2/3; }
.item-84 { grid-area: 2/1/3/7; }
.item-85 { grid-area: 3/1/4/3; }
.item-90 { grid-area: 4/1/5/7; }
.item-91 { grid-area: 5/1/6/2; transform: rotate(180deg); }
.item-92 { grid-area: 5/2/6/3; transform: rotate(180deg); }


.c4 .text{
    color:black;   
       font-family: Arial, Helvetica, sans-serif;  
  transition: all 0.3s ease;
    opacity: 0;
    font-size: 15px;
    margin-left: 700%;
    width: 300px;
    text-decoration: wavy underline;
}

.c4:hover .text {
opacity: 1;
    font-family: Arial, Helvetica, sans-serif;  
  transition: all 0.3s ease;
}



.toggle {
  width: 100%;
  height: 100%;
  outline: none;
  position: absolute;
  opacity: 0;
}

.container {
    
  font-size: 50px;
  transition: font-size 3s ease-in-out;
}



.container:hover {
  font-size: 100px;
}

.item:focus{
     font-size: 200px;

}

