html {
  font-size: 50px;

}

body {
    

  font-family: 'grid', Helvetica, Arial, sans-serif;
  overflow: hidden;
 
}

.button-class {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
  align-items: center;

}

.c2, .c3 {

  display: grid;
  grid-template-rows: repeat(20, 50px);
  grid-template-columns: repeat(6, 50px);
  
   color: magenta;
}

.c3 .text{
    color:black;   
       font-family: Arial, Helvetica, sans-serif;  
  transition: all 0.3s ease;
    opacity: 0;
    font-size: 15px;
    margin-left: 550%;
    width: 300px;
    text-decoration: wavy underline;
}

.c3:hover .text {
opacity: 1;
    font-family: Arial, Helvetica, sans-serif;  
  transition: all 0.3s ease;
}

.item-27 { grid-area: 1/1/2/2; transform: translateX(-20px); }
.item-39 { grid-area: 3/1/4/2; transform: translateX(-20px); }
.item-45 { grid-area: 4/1/5/2; transform: translateX(-40px); }
.item-29 { grid-area: 1/3/2/4; transform: rotate(10deg); }
.item-53 { grid-area: 5/3/6/4; transform: rotate(10deg); }
.item-83 { grid-area: 10/3/11/4; transform: rotate(10deg); }
.item-51 { grid-area: 5/1/6/2; transform: translateX(-20px); }
.item-63 { grid-area: 7/1/8/2; transform: translateX(-20px); }
.item-69 { grid-area: 8/1/9/2; transform: translateX(-40px); }
.item-99 { grid-area: 13/1/14/2; transform: translateX(-40px); }




.toggle {
  width: 100%;
  height: 100%;
  outline: none;
  position: absolute;
  opacity: 0;
}

.container {
  font-size: 50px;
  transition: font-size 3s ease-in-out;
}

.container:hover {
  font-size: 100px;
}

.item:focus{
     font-size: 200px;

}